/* COLOR PALETTE
fuxia: #e53170
azzurro: #00abe9
*/

/* CUSTOM PROPERTIES */
.root {
--fuxia: #e53170
}



/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 


/* Generics */
body {
    font-family: 'Fredoka', sans-serif;
}



/* Utilties */
.cointainer {
    max-width: 1080px;
    margin: 0 auto;
}


/* COLONNE */

.column {
width: calc(100% / 3);
float: left;
/* padding: 0 1,5rem;
margin: 0 1,5rem; */
}


/* Header */
h1 {
    color: #e53170;
    margin: 3rem 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
header p {
    margin: 3rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Main */
main {

}

/* Card */
.card {
}

.cart-item {
background-color: #000;
}

.cart-item a {
    color: #00abe9;
}

.cart-item img {
    height: 100px;
}

.cart-item h2 {
    color: #fff;
    text-align: left;
    margin: 1rem 0;
}

.cart-item p {
    color: #fff;
    text-align: left;
    margin: 1rem 0;
}





/* TXT COPIA INCOLLA


  

  

MARTA IPSUM Seo specialist marta.ipsum@team.com

ROBERTO LOREM Project Manager roberto.lorem@team.com

DANIELA AMET analysy daniela.amet@team.com

 */