
/* CUSTOM PROPERTIES */
.root {
--title-color: #e53170;
--link-color: #00abe9;
}



/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 


/* Generics */
body {
    font-family: 'Fredoka', sans-serif;
}



/* Utilties */

.cointainer {
    max-width: 1080px;
    margin: 0 auto;
}

.float-left {
    float: left;
    width: calc(100% / 3 - 1rem);
    margin: 0.5rem;
    height: 100px;
    background-color: #000;
}

.cleanfix::after {
    content: '';
    clear: both;
    display: table;

}



/* Header */
h1 {
    color: var(--title-color);
    margin: 3rem 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
header p {
    margin: 3rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Main */
main {

}

/* Card */
.card-item a {
    color: var(--link-color)
}

img {
    height: 100px;
    float: left;
    margin: 0 1rem 0 0;
}

.card-item h2 {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 1rem;
}

.card-item p {
    color: #fff;
    line-height: 1.4rem;
}